<form [formGroup]="loginForm" name="loginForm" class="form" (ngSubmit)="onLogin()">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput required />
    <mat-error *ngIf="loginForm.get('email')?.errors || loginForm.get('email')?.errors?.['required']"
      >Required email</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input formControlName="password" matInput required [type]="isPasswordHide ? 'password' : 'text'" />
    <button
      mat-icon-button
      matSuffix
      (click)="onPasswordHide()"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="isPasswordHide">
      <mat-icon>{{ isPasswordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="loginForm.get('password')?.errors || loginForm.get('password')?.errors?.['required']"
      >Required password</mat-error
    >
  </mat-form-field>
  <button type="submit" [disabled]="!loginForm.valid" routerLink="/youtube" mat-raised-button color="primary"
    >Login</button
  >
</form>
