<form [formGroup]="loginForm" name="loginForm" class="form" (ngSubmit)="onLogin()">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput required />
    <mat-error *ngIf="emailControl.hasError('required')">Please enter a login email</mat-error>
    <mat-error *ngIf="emailControl.hasError('email')">"The login email is invalid</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input formControlName="password" matInput required [type]="isPasswordHide ? 'password' : 'text'" />
    <button
      mat-icon-button
      matSuffix
      (click)="showPassword()"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="isPasswordHide">
      <mat-icon>{{ isPasswordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="passControl.hasError('required')">Please enter a password</mat-error>
    <mat-error *ngIf="passControl.hasError('minlength')"
      >"Your password isn't strong enough at least 8 characters</mat-error
    >
    <mat-error *ngIf="passControl.hasError('upperLowerCase')"
      >"Your password isn't strong enough a mixture of both uppercase and lowercase letters</mat-error
    >
    <mat-error *ngIf="passControl.hasError('numAndLetters')"
      >"Your password isn't strong enough a mixture of letters and numbers</mat-error
    >
    <mat-error *ngIf="passControl.hasError('specialChar')"
      >"Your password isn't strong enough inclusion of at least one special character, e.g., ! @ # ? ]
    </mat-error>
  </mat-form-field>
  <button type="submit" [disabled]="loginForm.invalid" mat-raised-button color="primary">Login</button>
</form>
