<li *ngIf="video.snippet" class="youtube">
  <mat-card-content class="youtube__card">
    <img
      ngSrc="{{ video.snippet.thumbnails.medium.url }}"
      width="{{ video.snippet.thumbnails.medium.width }}"
      height="{{ video.snippet.thumbnails.medium.height }}"
      alt="{{ video.snippet.title }}" />
    <div class="view">
      <div *ngFor="let statistic of statiscticsInfo; trackBy: trackByIndex">
        <p class="youtube__view">
          <mat-icon>{{ statistic.icon }}</mat-icon> {{ statistic.date }}</p
        >
      </div>
    </div>
    <mat-card-title>
      <p class="youtube__title">{{ video.snippet.title }}</p>
    </mat-card-title>
    <button routerLink="/youtube/{{ video.id }}" mat-raised-button color="primary">More...</button>
    <div class="line"></div>
  </mat-card-content>
</li>
