div {
  display: grid;
  gap: 20px;
}
.view {
  display: flex;
  flex-wrap: wrap;
}
// p {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-wrap: wrap;
// }
li {
  display: grid;
  justify-items: center;
  width: 320px;
}
