.view {
  display: flex;
  flex-wrap: wrap;
}
.youtube {
  text-align: center;
  height: 100%;
  border-bottom: 3px solid transparent;
  &__title {
    font-size: 16px;
  }
  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__view {
    display: flex;
    align-items: center;
    margin: 5px;
  }
}
:host {
  border-bottom: 3px solid transparent;
}
