<mat-card-content>
  <li *ngIf="video.snippet" class="youtube">
    <img
      ngSrc="{{ video.snippet.thumbnails.medium.url }}"
      width="{{ video.snippet.thumbnails.medium.width }}"
      height="{{ video.snippet.thumbnails.medium.height }}"
      alt="" />
    <div class="view">
      <div *ngFor="let statistic of statiscticsAndIcons; trackBy: trackByIndex">
        <p>
          <mat-icon>{{ statistic.icon }}</mat-icon> {{ statistic.date }}</p
        >
      </div>
    </div>
    <mat-card-title>
      <p class="youtube__title">{{ video.snippet.title }}</p>
    </mat-card-title>
    <button mat-raised-button color="primary">More...</button>
    <div class="line"></div>
  </li>
</mat-card-content>
