<div class="container">
  <div *ngIf="video" class="video">
    <mat-card-actions>
      <button routerLink="/youtube" class="video__button"><</button>
    </mat-card-actions>
    <div>
      <img
        class="video__image"
        mat-card-image
        ngSrc="{{ video.snippet.thumbnails.maxres.url }}"
        width="729"
        height="461"
        alt="{{ video.snippet.title }}" />
    </div>
    <div class="video__info">
      <mat-card-title>
        {{ video.snippet.title }}
      </mat-card-title>
      <p>{{ video.snippet.publishedAt | date : 'EEEE, MMMM d, y' }}</p>
      <mat-card-content>
        Description: <br />
        {{ video.snippet.description }}
      </mat-card-content>
    </div>
  </div>
</div>
