<div class="content">
  <img src="../../../../../assets/image/svg/logo.svg" alt="" />
  <form [formGroup]="searchForm">
    <mat-form-field class="search" appearance="fill">
      <mat-label></mat-label>
      <input [formControl]="searchContorl" matInput />
    </mat-form-field>
  </form>
  <img (click)="toggle()" src="../../../../../assets/image/svg/search_settings.svg" alt="" />
  <div class="logo">
    <mat-card-title>{{ username$ | async }}</mat-card-title>
    <img class="logo__avatar" src="../../../../../assets/image/svg/login.svg" alt="" />
  </div>
  <button (click)="logout()">Logout</button>
  <button>Создать карточку</button>
</div>
